body{
    font-family: Arial;
    font-size: 12px;
}
div#contenedor {
    width: 450px;
    margin: 10px auto;
    background: #CCC;
    border-radius: 6px;
    padding: 10px;
}

div#chat {
    margin: auto;
    height: 300px;
    padding: 10px;
    overflow-x: auto;
    background: #FFF;
    border-radius: 6px;
    margin-bottom: 10px;
    background:  url(logo.png) #FFF no-repeat center;
    background-size: 70%;
}

form#frmChat {
    border-radius: 6px;
    background: #36149e;
    padding: 10px;
}

.form-control {
    float: left;
    margin-left: 4px;
}

form#frmChat:after {content: '';display: block;clear: both;}

input {
    padding: 2px;
    border-radius: 4px;
    background: #FFF;
    border: 1px solid #CCC;
}

.mensaje {
    background: rgba(218, 214, 81, 0.3);
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 4px;
}

span.nick {
    font-weight: bold;
}